<mat-toolbar color="primary">
      <span>Cine Admin</span>
      <div class="spacer"></div>
      <a mat-button routerLink="/admin/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-button routerLink="/admin/movies">
        <mat-icon>movie</mat-icon> Movies
      </a>
      <a mat-button routerLink="/admin/screenings">
        <mat-icon>event</mat-icon> Screenings
      </a>
      <a mat-button routerLink="/admin/reservations">
        <mat-icon>book</mat-icon> Reservations
      </a>
      <a mat-button routerLink="/admin/users">
        <mat-icon>people</mat-icon> Users
      </a>
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Exit
      </button>
    </mat-toolbar>